.home-wrapper {
	width: 100vw;
	display: grid;
	place-items: center;
}

.home-img-wrapper {
	width: 100vw;
	padding: 0;
	margin: 0;
	margin-top: 60px;
	position: relative;
	z-index: 3;
	background-image: url("https://cdn.jobgamesjg.xyz/files/jobgamesjg-bg.png");
	background-position: 50% 25%;
	background-size: cover;
	display: grid;
}

.home {
	max-width: 1200px;
	width: 100%;
	height: 400px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
}

.home-content {
	height: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: auto;
	display: grid;
}

.landing-socials {
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-weight: 300;
}

.home-logo {
	width: auto;
	height: 80px;

	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 33px;

	img {
		height: auto;
		width: 70px;

		margin-right: 10px;
		border-radius: 100%;
	}
}

.home-text {
	width: max-content;
	transform: translateY(-10px);

	h1 {
		font-weight: 700;
		font-size: 45px;
		text-align: left;
	}

	p {
		font-weight: 300;
		font-size: 25px;
		text-align: left;
		transform: translateY(-10px);
	}
}

.home-img-main {
	align-self: flex-end;
	width: 500px;
	display: flex;

	img {
		width: 70%;
		height: 70%;
	}
}

.home-socials {
	cursor: pointer;
	display: grid;
	grid-template-columns: repeat(auto-fill, 110px);
	justify-content: center;
	grid-gap: 4px;

	a,
	p,
	i {
		color: rgba($white, 0.6);
		transition: all 0.2s ease;

		&:hover {
			color: rgba($accent, 1);
		}
	}
}

.home-action {
	width: 90%;
	height: auto;
	display: block;
	justify-content: center;
	text-align: center;
	background-color: $accent;
	border-radius: 0 0 30px 30px;

	padding: 15px 20px;
	font-weight: 600;

	a {
		width: 100%;
	}
}

@media screen and (max-width: 960px) {
	.home-text {
		h1 {
			font-size: 33px;
		}

		p {
			font-size: 18px;
		}
	}

	.home-img-main {
		img {
			width: 60%;
			height: auto;
		}
	}
}

@media screen and (max-width: 700px) {
	.home-logo {
		justify-content: center;

		img {
			margin-right: 0px;
		}
	}

	.home-text {
		text-align: center;
		display: inline;
		width: auto;

		h1 {
			text-align: center;
		}

		p {
			text-align: center;
		}
	}

	.home-img-main {
		img {
			width: 60%;
			height: auto;
		}
	}
}

@media screen and(max-width:580px) {
	.home {
		display: grid;
	}

	.home-content {
		display: grid;
	}

	.home-img-main {
		width: 0px;

		img {
			display: none;
		}
	}

	.home-action {
		border-radius: 30px;
		transform: translateY(-50%);
		z-index: 10;
	}
}

@media screen and (max-width: 400px) {
	.home-logo {
		height: 50px;

		font-weight: 500;
		font-size: 25px;

		img {
			width: 50px;
		}
	}

	.home-text {
		transform: none;
		text-align: center;

		h1 {
			font-size: 25px;
		}

		p {
			font-size: 15px;
		}
	}

	.home-socials {
		text-align: center;
		display: flex;
		justify-content: center;
		grid-gap: 4px;

		.socials-name {
			display: none;
		}
	}
}
