.home-wrapper {
	min-height: 100vh;
	min-width: 100vw;
	display: grid;
	place-items: center;
}

.home-text {
	transform: translateY(20px);
}

.home-title {
	display: flex;
	font-weight: 600;
	font-size: 50px;
	text-align: left;

	> h1 {
		margin-right: 10px;
		font-weight: inherit;
		font-size: inherit;
	}

	> h1:last-child {
		color: $accent;
	}
}

.home-info {
	font-weight: 400;
	font-size: 30px;
	transform: translateY(-20px);
	text-align: left;
	display: flex;
}

.home-action {
	cursor: pointer;
	width: fit-content;
	height: auto;
	display: block;
	justify-content: center;
	text-align: center;
	background-color: $accent;
	border-radius: 30px;

	padding: 15px 20px;
	font-weight: 600;

	transition: all 0.2s ease;

	a {
		width: 100%;
	}

	&:hover {
		background-color: rgba($accent, 0.8);
	}
}
