.home-wrapper {
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;

	padding: 10px 20px 0px 20px;
}

.home {
	display: flex;
	flex-direction: column;
}

.home-title {
	display: flex;
	font-weight: 600;
	font-size: 50px;
	text-align: left;
	transform: translateY(-15px);

	> h1 {
		margin-right: 10px;
		font-weight: inherit;
		font-size: inherit;
	}

	> h1:last-child {
		color: $accent;
	}
}

.home-info {
	font-weight: 400;
	font-size: 30px;
	text-align: left;
	display: flex;
	transform: translateY(-15px);
}

.home-action {
	cursor: pointer;
	width: fit-content;
	height: auto;
	display: block;
	justify-content: center;
	text-align: center;
	background-color: $accent;
	border-radius: 30px;

	padding: 15px 20px;
	font-weight: 600;

	transition: all 0.2s ease;

	a {
		width: 100%;
	}

	&:hover {
		background-color: rgba($accent, 0.8);
	}
}

@media screen and (max-width: 960px) {
	.home-title {
		display: inline-flex;
		width: max-content;

		font-size: 30px;
		line-height: 30px;
	}

	.home-info {
		font-size: 20px;
		line-height: 30px;

		transform: unset;
	}
}
