.about-info {
	margin-left: 50px;
}

.about-title {
	font-size: 50px;
	font-weight: 500;
}

.about-text-items {
	transform: translateY(-15px);
}

.about-text {
	font-size: 20px;
	font-weight: 300;

	margin-top: 10px;
	&:first-child {
		margin-top: 0px;
	}
}
