.anime {
	margin-bottom: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.anime-main-title {
	font-size: 50px;
	font-weight: 500;
}

.anime-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	justify-content: center;
	grid-gap: 20px;
	width: 100%;
	height: 100%;
}

.anime-card {
	max-width: 200px;
	max-height: 350px;
}

.anime-img-info {
	text-align: center;
	max-height: 300px;
	margin-bottom: 5px;

	position: relative;
}

.anime-eps {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: rgba($black, 0.8);
	font-weight: 300;

	width: 100%;
	display: flex;
	bottom: 0;
	position: absolute;
	z-index: 30;
	backdrop-filter: blur(5px);
}

.anime__eps-value {
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s ease;

	display: flex;

	flex-direction: column;

	&.active {
		opacity: 1;
		transition: opacity 0.5s ease 0.15s;
	}
}

.anime-img {
	width: 200px;
	height: 300px;
	border-radius: 5px;
	background-color: $black;
}

.anime-title-link {
	cursor: pointer;

	> P {
		font-size: 18px;
		font-weight: 500;
		color: $white;
	}
}

.anime-title {
	font-size: 0.9rem;
	font-weight: 400;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	&.main {
		font-size: 0.9rem;
		text-align: center;

		overflow: unset;
		white-space: unset;
		text-overflow: unset;
		word-break: normal;

		max-width: 190px;
	}
}

.anime-status {
	display: inline-flex;
	align-items: flex-end;
	width: 175px;

	height: inherit;

	font-weight: 300;
}

.placement-1 {
	width: 83px;
	text-align: left;
}

.placement-2 {
	width: 83px;
	text-align: right;
}

.anime-eps-total {
	width: 100px;
	height: 20px;
}

.anime-watching {
	width: 130px;
	height: 20px;
}

.anime-rating {
	width: 100px;
	height: 20px;

	> i {
		color: $yellow;
	}
}

.anime-type {
	width: 100px;
	height: 20px;

	> i {
		color: $accent;
	}
}

.animes-load-more {
	cursor: pointer;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: inline-flex;

	border-radius: 2.5rem;
	width: 225px;
	height: 52px;

	font-weight: 700;
	font-size: 17px;
	line-height: 20px;

	padding-left: 32px;
	padding-right: 32px;

	margin-bottom: 16px;
	margin-top: 16px;

	transition: all 0.3s ease;
	background-color: rgba($accent, 1);

	&:hover {
		background-color: rgba($accent, 0.9);
	}
}
