.project-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, 320px);
	justify-content: center;
	grid-gap: 20px;
	width: 100%;
	height: 100%;
}

.project-card {
	background-color: #464646;
	max-width: 500px;
	margin-left: 1em;
	margin-right: 1rem;
	margin-bottom: 1rem;

	min-height: 500px;
	max-height: 500px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;

	filter: none;
	transition: all 0.5s ease;
	&:hover {
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.6));
	}
}

.project-name {
	width: 100%;
	font-weight: 500;
	font-size: 2rem;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	max-height: 48px;

	@media screen and (max-width: 350px) {
		font-size: 1rem;
	}
}

.project-desc {
	text-align: center;
	padding: 10px;
	min-height: 320px;

	@media screen and (max-width: 350px) {
		text-overflow: ellipsis;
		overflow-y: scroll;
	}
}

.project-buttons {
	text-align: center;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-evenly;
	width: 150px;

	i {
		cursor: pointer;
		color: rgba(#fff, 0.6);
		transition: all 0.5s ease;

		&:hover {
			color: rgba(#fff, 0.9);
		}
	}
}
