.Socials-button {
	text-decoration: underline;
	display: inherit;

	user-select: none; /* standard syntax */
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */

	color: rgba($white, 0.6);
	transition: all 0.2s ease;

	&:hover {
		color: rgba($white, 0.9);
	}

	&.active {
		display: none;
	}
}

.Socials-wrapper {
	width: 100vw;
	height: 100vh;
	left: 0px;
	transform: scale(0);
	top: 0;
	opacity: 0;
	transition: all 0.2s ease;
	flex-direction: column;
	list-style-type: none;
	grid-gap: 0px;
	margin-top: 0;
	z-index: -1;
	font-size: 30px;

	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-evenly;

	&.active {
		z-index: 999;
		transform: scale(1);
		top: 0;
		opacity: 1;
		padding-left: 0px;
		margin-top: 0;
	}
}

.Socials {
	background-color: rgba($Main, 1);
	border-radius: 10px;

	width: 700px;
	height: 700px;
	display: block;
	flex-direction: column;
	align-items: center;

	a,
	i {
		color: rgba($white, 0.6);
		transition: all 0.2s ease;

		&:hover {
			color: rgba($white, 0.9);
		}
	}
}

.Socials-placement {
	width: 100%;
	height: 700px;
}

.Socials-header {
	width: 100%;
	height: 73px;
	padding: 24px 24px 12px;
	font-size: 24px;

	display: flex;
	align-items: center;
	text-align: right;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba($border, 0.2);

	> p {
		color: rgba($white, 0.6);
		font-weight: 600;
	}

	> a {
		cursor: pointer;
		align-items: center;
		margin-right: 12px;
	}
}

.Socials-items {
	width: 700px;
	height: 600px;
	flex-direction: column;
	list-style-type: none;
	grid-gap: 0px;
	margin-top: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	> a {
		border-bottom: 1px solid rgba($border, 0.2);
		width: 650px;
		text-align: center;
	}
}

@media screen and (max-width: 960px) {
	.Socials-header {
		justify-content: space-evenly;
	}
}
